.additional-product {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-product__description {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.additional-product__link {
  padding: 10px 109px;
}

@media (min-width: $tablet-width) {
  .additional-product {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .additional-product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .additional-product__wrapper {
    display: flex;
  }
}
