.additional-product {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.additional-product__header {
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 36px;
  border-top: 1px solid #ebebeb;
}

.additional-product__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 auto;
  padding-top: 13px;
  border-top: 1px solid #ebebeb;
  width: 1440px;
}

.additional-product__description {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Arial", sans-serif;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 15px;
}

.additional-product__link {
  padding: 10px 109px;
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .additional-product {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .additional-product__header {
    font-size: 36px;
    line-height: 36px;
    border-top: none;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 80px;
  }

  .additional-product__list {
    border: 1px solid #cdcdcd;
  }

  .additional-product__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #cdcdcd;
    padding: 26px 38px;
  }

  .additional-product__link {
    width: 100%;
    margin: 0;
  }

  .additional-product__bonus {
    margin-top: 69px;
    margin-bottom: 76px;
  }

  .additional-product__title {
    width: 330px;
    font-size: 20px;
    line-height: 20px;
    border: none;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 0;
  }

  .additional-product__description {
    line-height: 16px;
    font-size: 16px;
    padding: 0;
  }

  .additional-product__price {
    width: 95px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    width: 1220px;
    padding: 0 110px 86px;
    margin: 0 auto;
  }

  .additional-product__list {
    border: none;
  }

  .additional-product__title {
    width: 324px;
    padding: 0;
  }

  .additional-product__item {
    width: 895px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 17px;
  }

  .additional-product__item:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .additional-product__wrapper {
    display: flex;
  }

  .additional-product__link {
    width: 244px;
    padding: 10px 26px;
    margin-left: 38px;
  }

  .additional-product__description {
    line-height: 20px;
  }

  .additional-product__bonus {
    margin: 0;
    margin-left: 80px;
  }
}
