.advantages {
  width: 280px;
  padding: 20px 20px 26px;
  margin: 0 auto;
}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 40px;
}

.advantages__item {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    z-index: 1;
    top: 0;
  }
}

.advantages__item:nth-child(1)::after {
  background-image: url("../img/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(2)::after {
  background-image: url("../img/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(3)::after {
  background-image: url("../img/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(4)::after {
  background-image: url("../img/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__text {
  margin: 0 auto;
  text-align: start;
  padding-bottom: 26px;
  padding-left: 80px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
    padding-bottom: 72px;
  }

  .advantages__item {
    position: relative;
    display: block;
    padding-bottom: 20px;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      background-color: #68b738;
      z-index: 1;
      top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -39px;
      left: 113px;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
    }
  }

  .advantages__item:nth-child(1)::before {
    content: "1";
  }

  .advantages__item:nth-child(2)::before {
    content: "2";
  }

  .advantages__item:nth-child(3)::before {
    content: "3";
  }

  .advantages__item:nth-child(4)::before {
    content: "4";
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 246px 246px;
    column-gap: 138px;
    row-gap: 86px;
    margin-bottom: 54px;
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
    padding-top: 111px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .advantages__title {
    padding-top: 71px;
  }

  .advantages__list {
    display: flex;
    column-gap: 75px;
  }
}
