.button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
}

@media (min-width: $mobile-width-only) {
  .button {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
