.categories {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 24px 20px 22px;
}

.categories__item:first-child {
  margin-top: 20px;
}

.categories__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .categories {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .categories__item {
    margin-top: 30px;
    padding: 77px 62px 57px 53px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 82px;
  }

  .categories__item {
    margin-top: 0;
    padding: 77px 51px 59px 52px;
  }

  .categories__item:first-child {
    margin-top: 0;
  }

  .categories__item:last-child {
    margin-bottom: 20px;
  }
}
