.copyright__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__name {
  padding-right: 22px;
}

.copyright__icon {
  fill: #444444;
}

.copyright:hover .copyright__icon {
  fill: #68b738;
}

.copyright:active .copyright__icon {
  fill: rgba(104, 183, 56, 0.3);
}

.copyright:active .copyright__link {
  color: rgba(68, 68, 68, 0.3);
}
