.example {
  background-color: #eaeaea;
}

.example__buttons {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 43px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
}

.example__item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 768px;
    margin: 0 auto;
    padding-left: 30px;
    padding-bottom: 67px;
  }
}
