.example {
  position: relative;
}

.example-slider--after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example-slider {
    width: auto;
    height: auto;
  }

  .example-slider--after {
    display: block;
  }
}
