.example-slider__after {
  display: none;
}

@media (min-width: $tablet-width) {
  .example-slider {
    position: relative;
    height: 560px;
  }

  .example-slider__image {
    width: 655px;
    height: auto;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .example-slider__before {
    clip: rect(auto, 299px, auto, auto);
  }

  .example-slider__after {
    clip: rect(auto, auto, auto, 237px);
    display: block;
    width: 535px;
    bottom: 20px;
  }
}
