.form {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.form__description {
  font-size: 14px;
  width: 280px;
  margin: 0 auto;
}

.form__wrapper {
  margin-top: 42px;
}

.form__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px 25px;
  list-style-type: none;
}

.form__list-checkbox {
  padding-bottom: 33px;
}

.form__item {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;

  &:last-child {
    padding-bottom: 0;
  }
}

.form__item-checkbox {
  padding-bottom: 25px;
  display: flex;
  align-items: center;

  &:last-child {
    padding-bottom: 10px;
  }
}

.form__text {
  padding: 11px 15px;
  margin-left: 12px;
  font: inherit;
  text-transform: uppercase;
  color: #444444;
  flex-grow: 1;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid #444444;
  }
}

.form__icon {
  position: absolute;
  right: 16px;
  stroke: #444444;
}

.form__icon-phone {
  fill: none;
}

.form__text:focus + .form__icon {
  outline: none;
  stroke: #68b738;
}

.form__text:invalid {
  border: 1px solid #ff8282;
}

.form__text:focus-within {
  outline: 2px solid #444444;
}

.form__text:invalid + .form__icon {
  stroke: #ff8282;
}

.form__label-checkbox {
  position: relative;
  padding-left: 46px;
}

.form__text-checkbox[type="checkbox"]:checked + .form__control-mark::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/checked.svg");
}

.form__text-checkbox[type="checkbox"]:disabled + .form__control-mark {
  border: 1px solid rgba(186, 186, 186, 0.3);
}

.form__text-checkbox[type="checkbox"]:focus ~ .form__control-mark {
  border: 1px solid #444444;
}

.form__text-checkbox[type="checkbox"]:disabled ~ .form__label-checkbox {
  color: rgba(0, 0, 0, 0.3);
}

.form__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.form__control-mark:hover {
  border: 1px solid #bababa;
}

.form__fieldset {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  border: none;
  padding-top: 27px;
}

.form__fieldset-extra {
  padding-top: 18px;
}

.form__fieldset-button {
  width: 280px;
  margin: 0 auto;
}

.form__extra {
  padding-top: 19px;
}

.form__header {
  position: relative;
  padding-bottom: 37px;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 2px;
    top: 15px;
    background-color: #68b738;
    z-index: -1;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  font-weight: 400;
  padding-right: 22px;
  padding-left: 20px;
  margin: 0;
  background-color: #ffffff;
  width: fit-content;
}

.form__legend-width {
  width: 200px;
  padding-right: 0;
}

.form__comment {
  width: 320px;
  margin: 0 auto;
}

.form__textarea {
  font: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 249px;
  min-height: 144px;
  resize: none;
  padding: 9px 15px 0;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form__item {
    padding-bottom: 20px;
  }

  .form__text {
    margin-left: 19px;
    padding: 10px 17px;
  }

  .form__list {
    width: 630px;
    padding-bottom: 66px;
    padding-right: 17px;
  }

  .form__control-mark {
    width: 40px;
    height: 40px;
  }

  .form__description {
    font-size: 20px;
    width: 640px;
    margin: 0 auto;
    padding-left: 14px;
    padding-bottom: 24px;
  }

  .form__list-checkbox {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 60px;
    padding-bottom: 19px;
  }

  .form__icon {
    margin-right: 0;
  }

  .form__fieldset {
    width: 768px;
    margin: 0 auto;
    padding-top: 77px;
    position: relative;
  }

  .form__fieldset-extra {
    padding-top: 67px;
  }

  .form__label-checkbox {
    padding-left: 60px;
  }

  .form__header {
    width: 630px;
    padding-left: 30px;
    padding-bottom: 47px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      top: 22px;
      background-color: #68b738;
      z-index: -1;
      right: 32px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 700px;
      height: 2px;
      top: 22px;
      background-color: #68b738;
      z-index: -1;
      right: -107px;
    }
  }

  .form__header-extra {
    padding-bottom: 34px;
  }

  .form__more {
    padding-bottom: 60px;
  }

  .form__item-checkbox {
    padding-bottom: 41px;

    &:last-child {
      padding-bottom: 41px;
    }
  }

  .form__text-checkbox[type="checkbox"]:checked + .form__control-mark::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 7px;
    width: 24px;
    height: 19px;
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-size: 24px 19px;
  }

  .form__legend {
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 39px;
    padding-right: 40px;
  }

  .form__legend-width {
    width: 514px;
  }

  .form__comment {
    width: 768px;
    margin: 0 auto;
  }

  .form__textarea {
    margin-bottom: 0;
    text-align: start;
    width: 590px;
    padding: 10px 19px;
    margin-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__description {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  .form__wrapper {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 80px;
    width: 1220px;
    margin: 0 auto;
    margin-top: 67px;
  }

  .form__border-wrapper {
    margin: 0;
    padding-top: 0;
  }

  .form__list {
    width: 1220px;
    padding: 0;
  }

  .form__item {
    width: 569px;
    padding-bottom: 20px;
  }

  .form__fieldset {
    width: 1220px;
    padding-top: 70px;
    margin: 0 auto;
  }

  .form__item-desktop {
    padding-bottom: 0;
  }

  .form__header {
    width: 1220px;
    padding-left: 0;
    padding-bottom: 18px;
  }

  .form__header-extra {
    padding-bottom: 3px;
  }

  .form__legend {
    margin-bottom: 56px;
    padding-left: 0;
  }

  .form__list-desktop {
    display: grid;
    grid-template-columns: 570px 570px;
    column-gap: 78px;
    margin-bottom: 69px;
  }

  .form__textarea {
    width: 1180px;
    margin-left: 0;
  }

  .form__list-checkbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 28px;
  }

  .form__item-checkbox {
    padding-bottom: 30px;
  }

  .form__item-checkbox:first-child {
    padding-right: 44px;
  }

  .form__item-checkbox:last-child {
    padding-left: 104px;
  }

  .form__item-checkbox:nth-child(3) {
    padding-left: 76px;
    padding-right: 36px;
  }

  .form__header::before {
    width: 1330px;
  }

  .form__header::after {
    width: 70px;
    left: -110px;
  }

  .form__comment {
    width: 1220px;
    margin: 0 auto;
  }
}
