.main-container__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 280px;
  padding: 27px 20px 36px;
  margin: 0 auto;
  text-align: start;
  border-top: 1px solid #ebebeb;
}

.main-container__form {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-container__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    width: 708px;
    padding: 19px 30px 143px;
    border: none;
  }

  .main-container__title-form {
    margin: 0 auto;
    padding: 18px 70px 54px;
  }

  .main-container__form {
    width: 628px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-container__title {
    width: 1220px;
    padding-top: 7px;
    margin: 0 auto;
  }

  .main-container__title-form {
    padding: 87px 0 56px;
  }

  .main-container__form {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
