@import '../viewports.scss';

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  min-height: 66px;
}

.main-header__logo {
  min-height: 65px;
  width: 200px;
}

.main-header__logo-mobile {
  min-height: 38px;
}

.main-header__toogle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 65px;
  z-index: 2;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-header__toogle--closed::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 18px;
  background-image: url("../img/navigation-button.svg");
}

.main-header__toogle--opened::before {
  content: '';
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/navigation-closed.svg");

}

@media (min-width: $tablet-width) {
  .main-header__toogle--closed::before {
    display: none;
  }

  .main-header__toogle--opened::before {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .main-header__logo {
    height: 75px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    height: 112px;
  }
}
