@import '../viewports.scss';

.main-navigation {
  position: relative;
}

.main-navigation--closed {
  display: none;
}

.main-navigation--opened {
  display: block;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .main-navigation__toogle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-navigation__toogle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
.main-navigation-index {
  position: relative;
   &::before {
  content: '';
  position: absolute;
  min-width: 1044px;
  height: 696px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-image-desktop.jpg");
  background-repeat: no-repeat;
  z-index: -1;}
}

.main-navigation {
  color: #000000;
}
}
