.main-footer {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-footer__logo {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}

.main-footer__logo-image-mobile:hover {
  opacity: 0.8;
}

.main-footer__logo-image-mobile:active {
  opacity: 0.6;
}

.main-footer__social {
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__copyright {
  padding-top: 28px;
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .main-footer {
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-footer__wrapper {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__social {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 0 110px;
    margin: 0 auto;
  }

  .main-footer__wrapper {
    width: 1220px;
  }
}
