@import '../viewports.scss';

.main-footer {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}


