.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: block;
}

@media (min-width: $mobile-width-only) {
  .main-navigation {
    background-color: #ffffff;
    width: 100%;
    right: 0;
    display: none;
  }

  .main-navigation--nojs {
    display: block;
  }

  .main-navigation--closed {
    display: block;
    position: absolute;
  }

  .main-navigation--opened {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    display: block;
    position: inherit;
    background-color: transparent;
    width: 440px;
  }

  .main-navigation__toogle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    width: 478px;
  }

  .main-navigation--index .site-list__link {
    line-height: 30px;
    color: #ffffff;
  }
}
