@import '../viewports.scss';

@media (min-width: $tablet-width) {
  .products__item {
  width: 324px;
  padding: 38px;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    width: 245px;
    }
}
