.product__info {
  display: flex;
  padding-top: 19px;
  border-top: 1px solid #ebebeb;
}

.product__image {
  padding-right: 40px;
}

.product__wrapper {
  padding-left: 10px;
}

.product__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
  width: 76px;
}

.product__description {
  border-spacing: 0;
}

.product__link {
  padding: 11px 109px;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 38px;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 154px;
    margin: 0 auto;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 141px;
  }

  .product__link {
    padding: 10px 93px;
    margin-top: 33px;
  }

  .product__catalog-image {
    width: auto;
    height: auto;
    position: absolute;
    right: 72px;
    top: -70px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding: 0;
  }
  .product__wrapper {
    margin: 0 auto;
  }

  .product__title {
    line-height: 21px;
    margin-top: 41px;
    padding-bottom: 24px
  }

  .product__catalog-image {
    right: 41px;
    top: -50px;
  }

  .product__catalog-image:nth-child(2n+1) {
    right: 35px;
    top: -80px;
  }

  .product__info {
    padding-top: 121px;
  }

  .product__link {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 53px;
    margin: 33px 38px 40px 39px;
  }
}
