.product__info {
  display: flex;
  padding-top: 19px;
  padding-bottom: 9px;
}

.product__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-bottom: 15px;
  width: 76px;
}

.product__item-link {
  color: inherit;
  text-decoration: none;
}

.product__description {
  border-spacing: 0;
}

.product__link {
  padding: 11px 109px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 154px;
    margin: 0 auto;
  }

  .product__description {
    margin: 0 auto;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    padding-top: 160px;
    border: none;
  }

  .product__link {
    padding: 10px 93px;
    margin: 32px 17px 37px;
  }

  .product__catalog-image {
    width: auto;
    height: auto;
    position: absolute;
    right: 80px;
    top: -45px;

    &:nth-child(2n+1) {
      top: -73px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {
    padding: 0;
  }

  .product__wrapper {
    margin: 0 auto;
  }

  .product__title {
    line-height: 21px;
    margin-top: 43px;
    padding-bottom: 20px;
    padding-left: 6px;
  }

  .product__catalog-image {
    right: 41px;
    top: -54px;
  }

  .product__catalog-image:nth-child(2n+1) {
    right: 35px;
    top: -80px;
  }

  .product__info {
    padding-top: 119px;
  }

  .product__link {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 53px;
    margin: 31px 38px 40px 39px;
  }
}
