@import '../viewports.scss';

.program {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.program__header {
  position: relative;
  background-color: #68b738;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    min-width: 320px;
    height: 302px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-color: #68b738;
    z-index: -1;
}
}

.program__text {
  text-transform: uppercase;
  padding-left: 62px;
  padding-right: 62px;
  margin: 0 auto;
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 auto;
  padding: 27px 35px 25px 35px;
}

.program__link {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .program__header::before {
    display: none;
  }
  .program__header {
    color: #000000;
    background: 0 0;
  }

}
