@media (min-width: $desktop-width) {
  .sample-row {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      background-color: #f2f2f2;
      z-index: -1;
      bottom: 0;
    }
  }

  .sample-row__container {
    margin: 0 auto;
    display: flex;
    width: 1220px;
  }
}
