.sample {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #eaeaea;
}

.sample__wrapper {
  width: 280px;
  padding: 25px 20px;
  margin: 0 auto;
}

.sample__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 0;
  padding-bottom: 42px;
  margin: 0 auto;
}

.sample__subtitle {
  font-family: "Arial", sans-serif;
  line-height: 18px;
  padding-bottom: 20px;
  margin: 0;
}

.sample__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.sample-item__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
}

.sample-item__title {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 81px;
  margin: 0 auto;
  text-align: center;
  padding-top: -10px;
  background-color: #eaeaea;
}

.sample__price {
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .sample {
    background-color: transparent;
    font-size: 20px;
    border-top: 1px solid #e6e6e6;
  }

  .sample__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 52px;
  }

  .sample__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 47px;
    padding-bottom: 63px;
    margin: 0 auto;
  }

  .sample__subtitle {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
    margin: 0;
  }

  .sample__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sample__item {
    padding-right: 42px;
  }

  .sample-item__value {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .sample-item__title {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 142px;
  }

  .sample__price {
    width: 174px;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .sample {
    border: none;
    display: flex;
  }

  .sample__wrapper {
    margin: 0 auto;
    display: flex;
    width: 430px;
  }

  .sample__title {
    padding-top: 26px;
  }

  .sample__example {
    width: 436px;
  }

  .sample-item__title {
    background-color: #eaeaea;
  }

  .sample__subtitle {
    padding-top: 83px;
    padding-bottom: 67px;
  }

  .sample__price {
    width: auto;
    text-align: start;
    padding-top: 47px;
  }

  .sample__cost {
    padding-left: 63px;
  }

  .sample__stats {
    display: flex;
    flex-direction: column;
  }
}
