.site-list__item {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  color: #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-list__item--active .site-list__link {
    border-bottom: 2px solid #68b738;
  }

  .site-list__item:first-child {
    padding-right: 34px;
  }

  .site-list__item:last-child {
    border: none;
    padding-left: 38px;
  }

  .site-list__link {
    line-height: 24px;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 2px;
  }

  .site-list__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  .site-list__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    line-height: 30px;
    font-size: 20px;
  }

  .site-list__link-index {
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .site-list__item--active .site-list__link-index {
    border-bottom: 2px solid #ffffff;
    color: rgba(255, 255, 255, 1);
  }
}
