.site-list__item {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #000000;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
.site-list__item {
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.site-list__item:last-child {
  border: none;
}

.site-list__link {
    line-height: 24px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    line-height: 20px;
    font-size: 30px;
  }

}
